*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include responsive(big-desktop) {
    font-size: 80%;
  }

  @include responsive(tab-portrait) {
    font-size: 56.25%;
  }

  @include responsive(tab-small) {
    font-size: 50%;
  }
}

body {
  background-color: var(--color-white);
  transition: var(--transition);
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  min-height: calc((100vh - var(--nav-height)) - (9.2rem));
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: var(--transition);
  z-index: 1000;
}
