body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--color-grey-dark);
}

.heading__primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-white);
  position: relative;

  @include responsive(big-desktop) {
    font-size: 8rem;
  }

  @include responsive(phone-xs) {
    font-size: 4.4rem;
  }
}

.heading__secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  font-weight: 500;

  @include responsive(tab-landscape) {
    font-size: 3.6rem;
  }

  @include responsive(tab-small) {
    font-size: 3rem;
  }
}

.heading__tertiary {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  color: var(--color-primary-light);
}
