.u-mb-xxs {
  margin-bottom: 0.8rem;
}

.u-mb-xs {
  margin-bottom: 1.6rem;
}

.u-mb-sm {
  margin-bottom: 2.4rem;
}

.u-mb-md {
  margin-bottom: 3.2rem;
}

.u-full-col-grid {
  grid-column: 1 / -1;
}

.t-center {
  text-align: center;
}

.t-uppercase {
  text-transform: uppercase;
}

strong {
  font-weight: 600;
}
