:root {
  --color-primary: #fa5252;
  --color-primary-light: #fc8686;
  --color-primary-dark: #f03e3e;
  --color-secondary: #ff922b;
  --color-secondary-dark: #f76707;
  --color-grey-light: #5c5c5c;
  --color-grey-dark: #474747;
  --color-white: #fff;
  --color-white-light: #f9f7f6;
  --color-white-light-2: #f8f7f9;
  --color-white-lightest: #fdfdfd;
  --color-white-dark: #f0f0f0;
  --color-white-darkest: #ebebeb;
  --b-radius-5: 0.5rem;
  --b-radius-11: 1.1rem;
  --transition: all 0.3s ease-in-out;
}
