:root {
  --color-primary: #fa5252;
  --color-primary-light: #fc8686;
  --color-secondary: #ff922b;
  --color-grey-light: #686868;
  --color-grey-dark: #343a40;
  --color-white: #fff;
  --color-white-light: #f8f7f9;
  --b-radius-5: 0.5rem;
  --transition: all 0.5s ease-in-out;
}
