.section {
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    align-items: flex-start;
    justify-content: center;
    gap: 6.4rem;
    padding: 8rem 0;
  }
}

.intro {
  &__content {
    align-self: center;
  }

  &__img {
    width: 80%;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}
