.section {
  &__top {
    padding: 3.2rem 0;
  }
}

.intro {
  min-height: inherit;
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;

  &__content {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    max-width: 60rem;
    font-size: 1.8rem;
    color: var(--color-white-light);
    line-height: 1.8;
  }

  &__btn-search {
    cursor: pointer;
    width: 55%;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--b-radius-5);

    &:hover > .intro__btn-icon {
      fill: var(--color-white-light);
    }
  }

  &__btn-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-grey-light);
    transition: var(--transition);
  }
}
