body.dark {
  background-color: var(--color-black-dark);
}

.dark {
  & .header {
    background-color: var(--color-black-light);

    &__menu-name {
      color: var(--color-white-dark);

      &:hover {
        color: var(--color-primary-light);
      }
    }

    &__menu {
      background-color: var(--color-black-light);
      border-color: var(--color-grey-light-1);
    }

    &__logo--dark {
      display: none;
    }

    &__logo--light {
      display: inline-block;
    }

    &__hamburger-line {
      &,
      &::before,
      &::after {
        background-color: var(--color-white-dark);
      }
    }
  }

  & .footer {
    background-color: var(--color-black-light);

    &__description {
      color: var(--color-white-dark);
    }
  }

  & .search {
    background-color: var(--color-black-light);
    border-bottom: none;

    &__field {
      &,
      &::placeholder {
        color: var(--color-white-dark);
      }
    }

    &__icon {
      fill: var(--color-white-dark);
    }
  }

  & .bookmarks {
    background-color: var(--color-black-light);

    &__btn {
      color: var(--color-white-light);

      &:hover {
        color: var(--color-white-dark);
      }
    }

    &__heading {
      color: var(--color-white-dark);
    }

    &__link {
      &:hover {
        background-color: var(--color-black-dark);
      }

      &--active {
        background-color: var(--color-black-dark);
      }
    }

    &__publisher {
      color: var(--color-white-dark);
    }
  }

  & .modal {
    &__content {
      background-color: var(--color-black-dark);
    }

    &__header {
      background-color: var(--color-black-light);
      color: var(--color-white-light);
    }

    &__close-btn {
      color: var(--color-white-light);

      &:hover {
        color: var(--color-white-dark);
      }
    }
  }

  & .upload {
    &__heading {
      color: var(--color-white-light);
    }
  }

  & .input {
    &__label {
      color: var(--color-white-dark);
    }

    &__form {
      color: var(--color-white-dark);
      border-color: var(--color-grey-light-1);

      &::placeholder {
        color: var(--color-white-darkest);
      }
    }
  }
  & .recipe {
    &__header {
      background-color: var(--color-black-dark);
    }

    &__header-textbox {
      border-top: 2px solid var(--color-grey-light-1);
      border-bottom: 2px solid var(--color-grey-light-1);
    }

    &__header-content {
      color: var(--color-white-lightest);
    }

    &__content {
      background-color: var(--color-black-light);
    }

    &__description,
    &__quantity,
    &__directions {
      color: var(--color-white-dark);
    }

    &__btn {
      span {
        color: var(--color-white-light);
      }
    }
  }

  & .preview {
    &__box {
      background-color: var(--color-black-light);
    }

    &__results {
      color: var(--color-white-light);
    }

    &__text-box {
      color: var(--color-white-dark);
    }

    &__view-text {
      color: var(--color-white-light);
    }
  }

  & .btn {
    &--normal {
      color: var(--color-white-light);

      &:hover {
        color: var(--color-white-dark);
      }
    }
  }

  & .message {
    color: var(--color-white-dark);
  }
}
