.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4.8rem !important;

  &__btn {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: inherit;
    color: var(--color-primary-light);
    cursor: pointer;
    border: none;
    border-radius: 10rem;
    padding: 0.8rem 2.4rem;
    background-color: var(--color-white-light-2);
    transition: var(--transition);

    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-white-dark);
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }
}
