.preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 9.6rem 6.4rem;
  align-items: center;
  padding-top: 6.4rem !important;
  padding-bottom: 6.4rem !important;

  &__link {
    color: inherit;
  }

  &__results {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-grey-light);
    text-transform: uppercase;
  }

  &__box {
    display: flex;
    flex-direction: column;
    border-radius: var(--b-radius-5);
    overflow: hidden;
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.07);
    cursor: pointer;
  }

  &__img-box {
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    transition: var(--transition);

    &:hover {
      transform: scale(1.07);
    }
  }

  &__text-box {
    padding: 1.8rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.8;
  }

  &__publisher {
    display: inline-block;
    background-color: var(--color-primary-light);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: var(--color-white-lightest);
    padding: 0.4rem 0.8rem;
    border-radius: 10rem;
    margin-bottom: 1.2rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__duration {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &__duration-icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-primary);
  }

  &__view-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-grey-light);
  }

  &__user-generated {
    background-color: var(--color-primary-light-2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-left: auto;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: var(--color-white-lightest);
    }
  }
}
