.recipe {
  &__header {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-white-darkest);
    border-bottom: 1px solid var(--color-white-darkest);
  }

  &__header-textbox {
    padding: 0 4.8rem 3.2rem;
    flex: 0 0 50%;
  }

  &__img-box {
    flex: 1;
    height: 50rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__heading {
    position: relative;
  }

  &__bookmark {
    display: flex;
    justify-content: center;
  }

  &__publisher {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 500;
    color: var(--color-primary-light);
  }

  &__details {
    margin-top: 2.4rem;
    justify-content: center;
  }

  &__details,
  &__info {
    display: flex;
    align-items: center;
  }

  &__info {
    font-size: 1.6rem;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 3.6rem;
    }
  }

  &__info-data {
    font-weight: 600;
    margin-right: 0.5rem;
  }

  &__info-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-primary-light);
    margin-right: 0.8rem;
  }

  &__info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.2rem;
  }

  &__btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    display: flex;
    align-items: center;

    svg {
      width: 3.2rem;
      height: 3.2rem;
      fill: var(--color-primary-light);
    }

    span {
      font-size: 1.4rem;
      font-weight: 500;
      margin-left: 0.8rem;
      color: var(--color-grey-light);
    }

    &:not(:last-child) {
      margin-right: 2.4rem;
    }
  }

  &__ingredients {
    padding: 6.4rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 3.2rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;

    &:nth-child(odd) {
      justify-self: end;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-primary-light);
    flex: 0 0 auto;
    margin-right: 1rem;
  }

  &__quantity {
    flex: 0 0 auto;
    margin-right: 0.8rem;
  }

  &__content {
    background-color: var(--color-white-light-2);
  }

  &__directions {
    padding: 4.8rem 3.2rem;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    max-width: 50rem;
    margin: 0 auto;
  }
}
