.footer {
  background-color: var(--color-white-light);
  padding: 3.6rem 0;
  width: 100%;
  transition: var(--transition);
  overflow: hidden;

  &__description {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 600;
      color: var(--color-primary-light);
      transition: var(--transition);
    }

    &:hover {
      color: darken(#fc8686, 5%);
    }
  }
}
