.header {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 0 3.2rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: var(--transition);

  &__logo--img {
    height: 2.2rem;
  }

  &__logo--dark {
    display: inline-block;
  }

  &__logo--light {
    display: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 11;
  }

  &__logo span {
    @include gradient(to right top, var(--color-primary), var(--color-secondary));
    font-size: 2rem;
    font-weight: 600;
  }

  &__menu {
    @include responsive(tab-small) {
      position: fixed;
      width: 100%;
      height: auto;
      top: 8rem;
      left: 0;
      background-color: var(--color-white);
      padding: 2.4rem 3.2rem;
      border-top: 1px solid var(--color-white-darkest);
      border-bottom: 1px solid var(--color-white-darkest);
      transform: scale(1, 0);
      transform-origin: top;
      transition: var(--transition);
    }

    &.active {
      transform: scale(1, 1);
    }
  }

  &__menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;

    @include responsive(tab-small) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__menu-item {
    position: relative;
  }

  &__menu-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: inherit;
  }

  &__menu-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-primary-light);

    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  &__menu-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-grey-light);
    text-transform: uppercase;
    transition: var(--transition);
    letter-spacing: 0.03rem;

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__hamburger-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    display: none;

    @include responsive(tab-small) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active .header__hamburger-line {
      background-color: transparent;
    }

    &.active .header__hamburger-line::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &.active .header__hamburger-line::after {
      top: 0;
      transform: rotate(45deg);
    }
  }

  &__hamburger-line {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      height: 2px;
      width: 2.8rem;
      background-color: var(--color-grey-dark);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: var(--transition);
    }

    &::before {
      top: -0.7rem;
    }

    &::after {
      top: 0.7rem;
    }
  }
}
